* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 30px;
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  a {
      display: block;
      text-align: right;
  }
  
  header {
    padding: 12% 0 18% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  .formPage {
      padding-top: 20%;
      
  }

  .btn {
    text-align: center;
    margin: 25px 40%;
    /* font: bold 20px Arial; */
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-radius: 5px;
    padding: 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .logout {
    margin: 0 0 0 85%;
    padding: 2px;
    position: relative;
    bottom: 5px;
    right: 5px;
    font-size: medium;
    font-weight: normal;
  }

  .bottom {
    margin-bottom: 100px;
  }

  img, section {
    height: 200px;
    width: 20%;
    margin: 25px;
  }

  .pics, .sections {
    margin: 10% auto 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .sections {
    margin: auto;
  }

  .upload {
    padding-top: 0;
  }

  .title {
    color: #444;
    text-align: center;
    text-decoration: none;
  }

  label {
    vertical-align: middle;
  }